.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 730px}
.u-section-1 .u-text-1 {font-family: Baloo; margin: 60px auto 0 0}
.u-section-1 .u-text-2 {font-weight: 700; margin: 30px 884px 0 0}
.u-section-1 .u-layout-wrap-1 {margin: 30px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 326px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; margin: 0 auto 0 0; padding: 0}
.u-section-1 .u-text-3 {margin: 3px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 326px}
.u-section-1 .u-container-layout-2 {padding: 30px 30px 0}
.u-section-1 .u-image-1 {height: 255px; margin: 0 -60px 0 auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 914px}
.u-section-1 .u-text-2 {width: 256px}
.u-section-1 .u-layout-wrap-1 {margin-top: -784px; position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 269px}
.u-section-1 .u-btn-1 {margin-top: 1048px}
.u-section-1 .u-text-3 {margin-top: -1075px}
.u-section-1 .u-layout-cell-2 {min-height: 269px}
.u-section-1 .u-image-1 {height: 205px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 620px}
.u-section-1 .u-text-2 {margin-right: 664px}
.u-section-1 .u-layout-wrap-1 {margin-top: -896px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-btn-1 {margin-top: 1229px}
.u-section-1 .u-text-3 {margin-top: -1256px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {height: 150px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 820px}
.u-section-1 .u-text-2 {margin-right: 484px}
.u-section-1 .u-layout-wrap-1 {margin-top: -1438px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-btn-1 {margin-top: 1300px}
.u-section-1 .u-text-3 {margin-top: -1327px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 260px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-text-2 {margin-right: 284px}
.u-section-1 .u-layout-wrap-1 {margin-top: -1652px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: 1582px}
.u-section-1 .u-text-3 {margin-top: -1609px}
.u-section-1 .u-image-1 {height: 160px; margin-right: initial; margin-left: initial} }